<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ path('dashboard') }}" class="d-flex align-items-center mb-2 me-4 mb-lg-0 text-dark text-decoration-none">
                <strong>LetyTest</strong>
            </a>

            {{ knp_menu_render('main', {'firstClass': '', 'lastClass': ''}) }}

            <div class="col-md-3 text-end">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-primary">Выйти</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>