{% extends 'base.html.twig' %}

{% block title %}Авторизоваться!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="display-4 mb-5">Вы вошли как {{ app.user.userIdentifier }}</h1>
        <a class="btn btn-lg btn-outline-secondary" href="{{ path('app_logout') }}">Выйти</a>
    {% else %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal">Пожалуйста войдите</h1>
        <form method="post" action="{{ path('app_login') }}" class="row g-3">
            {# {% if error %} #}
            {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
            {# {% endif %} #}

            <div class="col-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email"
                       required autofocus>
            </div>
            <div class="col-12">
                <button class="btn btn-lg btn-primary" type="submit">Войти</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
