{{ form_start(form) }}
    {{ form_errors(form) }}

    {% if not app.user %}
        <div class="alert alert-info">
            Вы не вошли в систему. Для добавления скидки и создания учетной записи введите Ваш email
        </div>
        <div class="row">
            <div class="col-3">
                {{ form_row(form.email) }}
            </div>
        </div>
    {% endif %}

<div class="row">
    <div class="col-9">
        {{ form_row(form.title) }}
    </div>
    <div class="col-3">
        {{ form_row(form.image) }}
    </div>
    <div class="col-3">
        {{ form_row(form.regularPrice) }}
    </div>

    <div class="col-3">
        {{ form_row(form.discount) }}
    </div>

    <div class="col-3">
        {{ form_row(form.discountType) }}
    </div>

    <div class="col-3">
        {{ form_row(form.expiresAt) }}
    </div>

    <div class="col-3">
        {{ form_row(form.url) }}
    </div>

    <div class="col-3">
        {{ form_row(form.delivery) }}
    </div>

    <div class="col-3">
        {{ form_row(form.whereApply) }}
    </div>

    <div class="col-12">
        {{ form_row(form.description) }}
    </div>
</div>

<button class="btn btn-primary">{{ button_label|default('Добавить') }}</button>
{{ form_end(form) }}
