{% extends 'base.html.twig' %}

{% block title %}Discount index{% endblock %}

{% block body %}
    <h1>Мои скидки</h1>

    {% if pagination.getTotalItemCount > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Название</th>
                    <th>Скидка</th>
                    <th>Действует до</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for discount in pagination %}
                <tr>
                    <td>
                        {% if discount.imageFilename %}
                            <img src="{{ asset('uploads/discount/' ~ discount.imageFilename) }}" width="64" alt="{{ discount.title }}">
                        {% endif %}
                    </td>
                    <td>{{ discount.title }}</td>
                    <td>{{ discount.discountType == 'price' ? discount.discount|format_currency('RUB') : discount.discount ~ '%'  }}</td>
                    <td>{{ discount.expiresAt ? discount.expiresAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td>{{ ('letytest.status.' ~ discount.status)|trans }}</td>
                    <td>
                        <a href="{{ path('discount_show', {'uuid': discount.uuid}) }}">просмотреть</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <caption>Всего скидок {{ pagination.getTotalItemCount }}</caption>
        </table>
    {% else %}
        <div class="alert alert-light">Вы еще не добавили скидки</div>
    {% endif %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('discount_new') }}" class="btn btn-outline-primary">Добавить скидку</a>
{% endblock %}
