{% extends 'base.html.twig' %}

{% block title %}Новая Скидка{% endblock %}

{% block body %}
    <h1>Создание новой скидки</h1>

    {{ include('discount/_form.html.twig') }}

    <a href="{{ path('discount_index') }}" class="btn btn-outline-primary mt-3">назад к списку</a>
{% endblock %}
