{% extends 'base.html.twig' %}

{% block title %}Скидка "{{ discount.title }}"{% endblock %}

{% block body %}
    <h1>Скидка "{{ discount.title }}"</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Изображение</th>
                <td>
                    {% if discount.imageFilename %}
                        <img src="{{ asset('uploads/discount/' ~ discount.imageFilename) }}" alt="{{ discount.title }}">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ ('letytest.status.' ~ discount.status)|trans }}</td>
            </tr>
            <tr>
                <th>Обычная цена</th>
                <td>{{ discount.regularPrice|format_currency('RUB') }}</td>
            </tr>
            <tr>
                <th>Скидка</th>
                <td>{{ discount.discountType == 'price' ? discount.discount|format_currency('RUB') : discount.discount ~ '%'  }}</td>
            </tr>
            <tr>
                <th>Тип скидки</th>
                <td>{{ ('letytest.discount_type.' ~ discount.discountType)|trans }}</td>
            </tr>
            <tr>
                <th>Ссылка на ресурс</th>
                <td><a href="{{ discount.url }}" target="_blank"></a>{{ discount.url }}</td>
            </tr>
            <tr>
                <th>Где применяется</th>
                <td>{{ discount.whereApply ? ('letytest.where_apply.' ~ discount.whereApply)|trans : '' }}</td>
            </tr>
            <tr>
                <th>Действует до</th>
                <td>{{ discount.expiresAt ? discount.expiresAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Доставка</th>
                <td>{{ ('letytest.delivery.' ~ discount.delivery)|trans }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ discount.description|nl2br }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('discount_index') }}" class="btn btn-outline-primary">назад к списку</a>
{% endblock %}
