<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


    <title>{% block title %}LetyTest{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the follo{{ include('discount/_form.html.twig', {'button_label': 'Update'}) }}wing Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{{ include('_fragments/_header.html.twig') }}

<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
