{% extends 'base.html.twig' %}

{% block title %}Привет :){% endblock %}

{% block body %}
    <h1 class="display-1 mb-5">Привет :)</h1>
    <a href="{{ path('discount_new') }}" class="btn btn-lg btn-outline-primary">Добавить скидку</a>
    <a href="{{ path('discount_index') }}" class="btn btn-lg btn-outline-secondary">Список моих скидок</a>
{% endblock %}
